
    <div id="carreraspanel" class="dropdown open">
        <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="numCarr">CARRERA</span>  
        </button>
        <div id="ddlCarreras" class="category3 dropdown-menu btn-block" aria-labelledby="dropdownMenu3">
            @*<a class="dropdown-item" href="#Hipodromo1">WIN</a>
            <a class="dropdown-item" href="#Hipodromo2">PLACE</a>
            <a class="dropdown-item" href="#Hipodromo3">SHOW</a>
            <a class="dropdown-item" href="#Hipodromo1">EXACTA</a>
            <a class="dropdown-item" href="#Hipodromo2">TRIFECTA</a>
            <a class="dropdown-item" href="#Hipodromo3">SUPERFECTA</a>
            <a class="dropdown-item" href="#Hipodromo1">EXACTA BOX</a>
            <a class="dropdown-item" href="#Hipodromo2">SUPERFECTA BOX</a>
            <a class="dropdown-item" href="#Hipodromo3">PLACE / SHOW</a>
            <a class="dropdown-item" href="#Hipodromo1">WIN / PLACE</a>
            <a class="dropdown-item" href="#Hipodromo2">WIN / PLACE / SHOW</a>
            <a class="dropdown-item" href="#Hipodromo3">WIN / SHOW</a>*@
        </div>
    </div>