<div id="table-info" class="card board-gamble max-heightVH">
    @*<div class="row">
        <div id="resumenCol1" class="col">
            
        </div>
        <div id="resumenCol2" class="col">
            
        </div>
    </div>*@

</div>
