
    <div id="ejemplarespanel" class="card board-horse">
        <div class="card-header">
            <span class="number">N°|#</span>
            <span class="title">EJEMPLAR <span class="icon-horse"><i class="fas fa-chess-knight"></i></span></span>
        </div>
        <div class="card-block">
            <ul id="lstEjemplares" class="list-group">
                
            </ul>
            <div class="box-icon-dots">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>

